server {
    listen 80;
    server_name ec2-100-26-102-124.compute-1.amazonaws.com;

    location /static {
        alias {{ proj_path }}/{{ proj_name }}/static;
    }

    location / {
        proxy_pass http://localhost:8000;
        include /etc/nginx/proxy_params;
        proxy_redirect off;
    }
}
