server {
    listen 80;
    listen 443;

    root /usr/share/nginx/html;
    index index.html index.htm;

    server_name {{ server_name }};
    ssl_certificate {{ cert_file }};
    ssl_certificate_key {{ key_file }};

    location /static {
        alias /home/ubuntu/pacific/pacific/static;
    }

}
